a, 
h1.title > span,
.row h2 i,
.social a:hover,
.modal-toggle i:hover,
#bg-video-controls i:hover {
	color:#a5cc62;
}

button, input[type="submit"],
button:hover, button:focus,
input[type="submit"]:focus, input[type="submit"]:hover,
.form-field span.errors,
.bounce1, .bounce2, .bounce3 {
	background:#a5cc62;
}

button, input[type="submit"],
.form-field span.error {
	background:#a5cc62;
}

.form-field span.error {
	border:1px solid #a5cc62;
}

.page-loader .progress {
	border-left-color:#a5cc62;
}